language: objective-c
osx_image: xcode7.2
rvm:
  - 2.2.3
before_install:
  - gem install cocoapods --pre
  - gem install xcpretty
script:
  - xcodebuild -scheme whiteboardios -sdk iphonesimulator -workspace whiteboardios.xcworkspace ONLY_ACTIVE_ARCH=NO | xcpretty && exit ${PIPESTATUS[0]}
  - xctool test -scheme whiteboardios -sdk iphonesimulator -workspace whiteboardios.xcworkspace ONLY_ACTIVE_ARCH=NO
