language: objective-c
branches:
  only:
  - master
xcode_project: whiteboardios.xcodeproj
xcode_scheme: whiteboardiosTests
osx_image: xcode7.2
xcode_sdk: iphonesimulator9.2
script:
  - xcodebuild clean build test -project whiteboardios.xcodeproj -scheme whiteboardTests
